#nav-bar {background-color:#333333;padding:0 17px;  }
#mainMbMenu #nav { float:left; margin:0;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;}

/************** ALL LEVELS  *************/
#mainMbMenu #nav li { position:relative; text-align:left; }
#mainMbMenu #nav li.over { z-index:99; }
#mainMbMenu #nav li.active { z-index:100; }
#mainMbMenu #nav a,
#mainMbMenu #nav a:hover { display:block; text-decoration:none; }
#mainMbMenu #nav span { display:block; }
#mainMbMenu #nav a { line-height:1.3em; }


/************ 1ST LEVEL  ***************/
#mainMbMenu #nav li { float:left; background-image:url(../images/el_bg2.png); margin:0; margin-left:0.1em;margin-right:0.1em;padding:3px 10px 3px 10px;  border:solid 1px #222222;border-bottom:none;}
#mainMbMenu #nav li.active, #mainMbMenu #nav li.active a { background-color:#F1F1F1; color:#333; font-weight:normal;  }
#mainMbMenu #nav li a:hover{ background-color:#3333;}
#mainMbMenu #nav li.active em { display:block; position:absolute; top:0; right:-1px; width:3px; height:27px; }
#mainMbMenu #nav a { float:left; padding:0 14px; color:#fff; line-height:27px; }
#mainMbMenu #nav li.over a { color:#3333; }
#mainMbMenu #nav ul{border:none;}

/************ 1ST LEVEL RESET ************/
#mainMbMenu #nav ul li,
#mainMbMenu #nav ul li.active { list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0; float:none; height:auto; background:none; margin:0; border:none;}
#mainMbMenu #nav ul li a{border-bottom: solid 1px black; border-left: solid 1px black; border-right: solid 1px black;}
#mainMbMenu #nav ul a,
#mainMbMenu #nav ul a:hover { float:none; padding:0; line-height:1.5em; font-weight:normal; }
#mainMbMenu #nav ul li.over a,
#mainMbMenu #nav ul li.over a:hover,
#mainMbMenu #nav ul a,
#mainMbMenu #nav li.active li { font-weight:normal; background-color:#F1F1F1;}

#mainMbMenu #nav ul li ul li a:hover{ text-decoration:underline!important;}


/************ 2ND LEVEL ************/
#mainMbMenu #nav ul { list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0 0 3px 0; position:absolute; width:189px; top:27px; left:-10000px; border-top:0; }
#mainMbMenu #nav ul ul  { list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0px 0 0 0; border-top:0; left:100px; top:0px; }

/* Show menu */
#mainMbMenu #nav li.over ul { left:0px; }
#mainMbMenu #nav li.over ul ul { left:-10000px; }
#mainMbMenu #nav li.over ul li.over ul { left:100px; }

#mainMbMenu #nav ul {padding-top:6px;}
#mainMbMenu #nav ul li { background:url(nav2_li_bg.png) repeat-y;}
#mainMbMenu #nav ul li a { background:#F1F1F1; }
#mainMbMenu #nav ul li a:hover { color:#F1F1F1!important; background-color:#333333; }
#mainMbMenu #nav li.over ul a,
#mainMbMenu #nav ul li.active a,
#mainMbMenu #nav ul li a,
#mainMbMenu #nav ul li a:hover { color:#2f2f2f; }
#mainMbMenu #nav ul span,
#mainMbMenu #nav ul li.last li span { padding:5px 15px; background:url(nav2_link_bg.gif) repeat-x 0 100%; }
#mainMbMenu #nav ul li.last span,
#mainMbMenu #nav ul li.last li.last span { background:none; }
#mainMbMenu #nav ul li.last { background:url(nav2_last_li_bg.png) no-repeat 0 100%; padding-bottom:3px; }

#mainMbMenu #nav ul li.parent a,
#mainMbMenu #nav ul li.parent li.parent a { background-image:url(nav2_parent_arrow.gif); background-position:100% 100%; background-repeat:no-repeat; }
#mainMbMenu #nav ul li.parent li a,
#mainMbMenu #nav ul li.parent li.parent li a { background-image:none; }

/************ 3RD+ LEVEL ************/
/* Cursors */
#mainMbMenu #nav li.parent a,
#mainMbMenu #nav li.parent li.parent a,
#mainMbMenu #nav li.parent li.parent li.parent a { cursor:default; }

#mainMbMenu #nav li.parent li a,
#mainMbMenu #nav li.parent li.parent li a,
#mainMbMenu #nav li.parent li.parent li.parent li a { cursor:pointer; }

/* Show menu */
#mainMbMenu #nav ul ul ul { left:-10000px; list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0; }
#mainMbMenu #nav li.over ul li.over ul ul { left:-10000px;}
#mainMbMenu #nav li.over ul li.over ul li.over ul { left:100px; }

#nav-bar:after, #nav-container:after { content:"."; display:block; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }